.NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: max-content;
}

.NavigationItem a{
    color: #8f5c2c;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}
.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active{
    color: #40A4C8;
}
@media (min-width:500px){
    .NavigationItem {
        margin: 0;
        box-sizing: border-box;
        display: flex;
        height: 100%;
        align-items: center;
    }
    
    .NavigationItem a{
        color: #fff;
        text-decoration: none;
        height: 100%;
        width:auto;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active{
        background-color: #8f5c2c;
        border-bottom: 4px solid #40A4C8;
        color: #fff;
    }
}