.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}
.Button div{
    width: 100%;
    background-color: #fff;
    height: 3px;
}
.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}
.Menu{
    padding: 0;
    width: 40px;
    height: 60%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
@media(min-width:500px){
    .Menu{
        display: none;
    }
}